
{{#each this}}
    <li class="country-list">
        <img style="width: 30px;" class="country-image" src="{{flags.png}}" alt="Flag" {{name.official}}>
        <span class="country-text">{{name.official}}</span>
    </li>
{{/each}}